html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #013243 !important;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.random-container {
	margin: 0 auto;
	margin-top: 25%;
	margin-bottom: 25px;
	text-align: center;
}

.random-container a {
	color: white !important;
}

.results-container {
	margin: 0 auto;
	color: black;
}

.results-list {
	margin: 0 auto;
	color: black;
}

.search-container {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 25px;
}

.results {
	border: 1px solid black;
}

.dataTitle {
	font-size: 18px;
	font-weight: bold;
}

.dataSnippet {
	font-size: 16px;
}

li {
	border: 1px solid black;
	list-style-type: none;
	margin: 0 0 5px 0;
	padding-left: 5px;

}

.list-group-item {
	background-color: #E7E7E8 !important;
	margin-bottom: 5px !important;
}

.list-group-item:hover::before {
      border-left: 5px solid black !important;
      margin-left: -5px !important;
}

li h1 {
	font-size: 18px;
	font-weight: bold;
}

a {
    color:#000000 !important;
    text-decoration:none;
}

